/Cristian - Chrome.lnk
/desktop.ini
/Discord.lnk
/Genshin Impact.lnk
/Hollow Knight.url
/Honkai Star Rail.lnk
/MasterofGarden.lnk
/MongoDBCompass.lnk
/osu!.lnk
/Terraria.url
/Twitch Studio.lnk
/Untitled-1.py
/マスターオブガーデン.lnk